{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-lg-6 h-100 text-center text-lg-start my-auto" style="background-color: rgba(245, 245, 245, 0.966);">
    <div class="abs-center ">
        <h2>{{mensaje}}</h2>
        <br>
        <h2>Asignar Avatar</h2>
        <br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                    {{ miFormulario.as_p }}
                    </table>
                    <br>
                    <input type="submit" class="btn btn-primary btn-sm" value="Editar" />
                </form>
    </div>
</div> 

{% endblock contenido %}