{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-lg-6 h-100 text-center text-lg-start my-auto" style="background-color: rgba(245, 245, 245, 0.966);">
    <div class="abs-center ">
        <form action="#" class="border p-3 form">
            <div class="form-group">
                    <ul>
                        {% for Autores in listaautores %}
                            <li>
                                <p>
                                Autor: {{Autores.nombre}}
                                </p>
                                    <p>
                                        <a href="{% url 'detailAutor' Autores.id %}">Ver</a>  
                                        <a href="{% url 'editAutor' Autores.id %}">Editar</a> 
                                        <a href="{% url 'deleteAutor' Autores.id %}">Borrar</a>
                                </p>
                            </li>
                        {% endfor %}
                        <a class="btn btn-primary btn-sm" href="{% url 'newAutor'  %}">Nuevo</a> 
                    </ul>
            </div>
        </form>       
    </div>
</div>    
{% endblock contenido %}