{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<nav class="navbar navbar-light bg-light  ">
    <div class="container-fluid ">
        <form class="d-flex" action="/buscar/" method="GET" >
        <input class="form-control   me-3 " type="text" name="nombre" id="nombre" placeholder="Buscar nombre " aria-label="Search" >
        <input class="btn btn-outline-success" type="submit" value= "buscar"></input>
    </form>
    </div>
</nav>

<p>Estamos buscando la Publicacion : {{nombre}}</p>

{% if Publicacion %}
<ul>

{% for i in Publicacion %}
    <li>{{Publicacion.nombre}}</li>
    <li>{{Publicacion.descripcion}}</li>
{% endfor %}
    
</ul>

{% endif %}
    

{% endblock contenido %}