{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-lg-6 h-100 text-center text-lg-start my-auto" style="background-color: rgba(245, 245, 245, 0.966);">
    <div class="abs-center ">
    <form action="#" class="border p-3 form">
        <div class="form-group">
            <p>Nombre y Apellido : <i>{{ object.nombre }}</i></p>
            <p>Fecha de Nacimiento: <i>{{ object.fechaNacimiento }}</i></p>
            <p>Email: <i>{{ object.email }}</i></p>
            <p>Genero Autor: <i>{{ object.GeneroAutor }}</i></p>
            <p>
            <a class="btn btn-primary btn-sm" href="{% url 'Autores' %}">Regresar</a>
            </p>
        </form>       
        </div>
    </div>
</div>  

{% endblock contenido %}