{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-lg-12 h-100 text-center text-lg-start my-auto">
    <div class="row">
        <div class="col-md-12 col-md-offset-2 ">

            <img  class="rounded"  src="{% static 'BlogApp\img\Portada.jpeg' %}" height="640px"  />
            
            
            
            <center><h3>{{mensaje}}</h3></center>
            
            
                
                
        </div>
    </div>
</div>        

{% endblock contenido %}