{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-lg-6 h-100 text-center text-lg-start my-auto" style="background-color: rgba(245, 245, 245, 0.966);">
    <div class="abs-center ">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary btn-sm" value="INICIAR SESION" />
                </form>
    </div>
    <br>
    <a class="btn btn-primary btn-sm" href="{% url 'register' %}">REGISTRARSE</a>
</div> 

{% endblock contenido %}