{% extends 'BlogApp/base.html' %}
{% load static %}
{% block contenido %}

<div class="container col-12 h-100 text-center text-lg-start my-auto" style="background-color: rgba(245, 245, 245, 0.966);">
    <div class="abs-center ">
        <form action="#" class="border p-3 form">
            <div class="form-group">
                <p>Estamos buscando la Publicacion: {{nombre}}</p>
                {% if publicaciones %}
                <table class="table table-bordered col-12 text-center ">
                    <thead class="bg-dark text-white">
                        <tr>
                            <th>Nombre de la noticia</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Publicacion in publicaciones %}
                        <tr>
                            <td>{{ Publicacion.nombre }}</td>
                            <td>{{ Publicacion.descripcion }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                    
            </div>
        </form>       
    </div>
</div>    

{% endblock contenido %}